@if (buttons.length) {
  <div class="erp-smart-buttons" role="group">
    @for (button of buttons; track button) {
      <ng-container *abpPermission="button.permission">
        @if (button.routerLink) {
          <a
            class="erp-smart-button btn btn-light border"
            [routerLink]="button.routerLink"
            [queryParams]="button.queryParams || null"
            >
            <ng-container
              [ngTemplateOutlet]="content"
              [ngTemplateOutletContext]="{ $implicit: button }"
            ></ng-container>
          </a>
        } @else {
          <button
            type="button"
            class="erp-smart-button btn btn-light border"
            (click)="buttonClick.emit(button)"
            >
            <ng-container
              [ngTemplateOutlet]="content"
              [ngTemplateOutletContext]="{ $implicit: button }"
            ></ng-container>
          </button>
        }
      </ng-container>
    }
  </div>
}

<ng-template #content let-button>
  <i [class]="button.icon + ' erp-smart-button__icon text-primary'"></i>
  <span class="erp-smart-button__text">
    @if (hasCount(button)) {
      <span class="erp-smart-button__count fw-bold">{{ button.count }}</span>
    }
    <span class="erp-smart-button__label small text-muted">{{
      button.labelKey | abpLocalization
    }}</span>
  </span>
</ng-template>
